* {
    padding: 0;
    margin: 0;
}

.p-m {
    padding: 10px;
}

.mb-m {
    margin-bottom: 10px;
}

.imgByWidth {
    width: 100%;
    height: auto;
}

#mainContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

#titleBar {
    height: 45px;
    background-color: rgba(255, 255, 255, .8);
    color: #3e7ca9;
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    border-bottom: 1px solid #eee;
    z-index: 100;
}

#nav {
    height: 50px;
    background-color: rgba(62, 124, 169, .9);
    color: #fff;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    width: 100%;
}

#mainBody {
    position: absolute;
    width: 100%;
    top: 0px;
    padding-top: 45px;
    bottom: 0px;
    overflow: auto;
}

.navlist {
    list-style: none;
    height: 50px;
    margin-bottom: 0;
}

.navlist li {
    text-align: center;
    line-height: 50px;
}

.navlist li:hover , .navlist li.active{
    background-color: rgba(14, 83, 116, 0.5);
}

.tab {
    width: 100%;
    padding: 15px;
    overflow: auto;
}

.hided {
    display: none;
}

.loader {
    text-align: center;
    margin-top: 100px;
    width: 100%;
}

.backButton {
    float: left;
    position: absolute;
    width: 45px;
    height: 100%;
}

.backButton i {
    margin-top: 11px;
}

.category {
    height: 100px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 100px;
    background-color: #eee;
    margin-bottom: 15px;
}

.chevron {
    display:inline-block;
    background: #3e7ca9;
    width: .55em;
    height: .8em;
    position:relative;
}
.chevron:before,
.chevron:after {
    display:inline-block;
    content:"";
    width:0;
    height:0em;
    border-style:solid;
    position:absolute;
}

.chevron:before {
    left:0;
    border-width:.4em 0 .4em .4em;
    border-color:transparent transparent transparent #fff;    
}

.chevron:after {
    right:0;
    border-width:.4em 0 .4em .4em;
    border-color:#fff transparent;    
}

.chevron.skinny {
    width: .53em;
    font-size: 1.5em;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.tag {
    position: relative;
    padding: 0 0 0 12px;
    background: #0089e0;
    color: #fff;
    width: auto;
    height: 30px;
    
    line-height: 30px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px; 
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;    
    border-top-right-radius: 4px;    
}

.tag:before{
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -15px;
    width: 0;
    height: 0;
    border-color: transparent #0089e0 transparent transparent;
    border-style: solid;
    border-width: 15px 15px 15px 0;      
}

.tag:after{
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px #004977;
    -webkit-box-shadow: -1px -1px 2px #004977;
    box-shadow: -1px -1px 2px #004977;
}

.product {
    position: relative;
}

.shop {
    width: 110px;
    position: absolute;
    top: -15;
    left: 0;
}

.pprice-tag {
    width: auto;
    color: #fff;
    background-color: rgb(170, 0, 0);
    padding: 5px 8px;
    border-radius: 5px;
}

.product-info {
    background-color: #fff;
    border: 1px solid #eee;
}

.product-description {
    background-color: #eee;
}
